.sidebarWrapper {
  height: calc(100vh);
}
.sidebar {
  border-radius: 0px;
  background-color: var(--color-primary);
}

.logo {
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.sideBarMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sideBarMenuItem {
  display: block;
  padding: 20px;
  border-radius: 5px;
  color: var(--text-primary-dark);

  &:hover {
    background-color: rgb(80, 90, 143);
  }

  &.isActive {
    background-color: rgb(80, 90, 143);
  }
}
