<div class="product-wrapper">
  <div class="product-header">
    <h1 class="product-title">Sản phẩm của bạn</h1>
    <app-button>+ Thêm sản phẩm</app-button>
  </div>
  <div class="product-container" *ngIf="!isLoading">
    <app-card *ngFor="let product of products">
      <div card-header>{{ product.title }}</div>
      <div card-content class="product-content">
        <div class="product-image">
          <img
            src="https://media2.coolmate.me/cdn-cgi/image/width=672,height=990,quality=85,format=auto/uploads/October2023/CM006.thumb1.3_35.jpg"
            alt="HELLO"
            class="image"
          />
          <img
            src="https://media2.coolmate.me/cdn-cgi/image/width=672,height=990,quality=85,format=auto/uploads/October2023/CM006.thumb1.3_35.jpg"
            alt="HELLO"
            class="image"
          />
        </div>
        <p class="product-label">description:</p>
        <p class="product-text">
          {{ product.description }}
        </p>
        <ul class="size-container">
          <span class="product-label" class="product-label">size:</span>
          <li class="size">S</li>
          <li class="size">M</li>
          <li class="size">L</li>
        </ul>
        <div class="product-session">
          <span class="product-label" class="product-label">Giá: </span>
          <span class="price"
            >{{ product.price.toLocaleString() }}({{
              product.sales.toLocaleString()
            }})</span
          >
        </div>
      </div>
    </app-card>
  </div>
</div>
<div *ngIf="isLoading">loadding</div>
