<div class="product-wrapper">
  <div class="product-header">
    <h1 class="product-title">Sản phẩm của bạn</h1>
    <app-button>+ Thêm sản phẩm</app-button>
  </div>
  <div class="product-content">
    <app-card>
      <div card-header>Áo thun cách nhiệt</div>
      <div card-content>
        <div>description</div>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
        <div>size: M, L</div>
      </div>
      <div card-footer>
        <app-button>mua</app-button>
      </div>
    </app-card>

    <app-card>
      <div card-header>đây là title</div>
      <div card-content>hello</div>
      <div card-footer>
        <app-button>mua</app-button>
      </div>
    </app-card>

    <app-card>
      <div card-header>đây là title</div>
      <div card-content>hello</div>
      <div card-footer>
        <app-button>mua</app-button>
      </div>
    </app-card>
    <app-card>
      <div card-header>đây là title</div>
      <div card-content>hello</div>
      <div card-footer>
        <app-button>mua</app-button>
      </div>
    </app-card>
  </div>
</div>
