/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

:root {
  //button common

  --color-primary: #031c2f;
  //box shadow
  --shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --color-primary-dark: var(--color-primary);
  --text-primary-dark: #ffff;

  --mdc-filled-button-container-color: var(--color-primary);
  --mdc-filled-button-container-shape: 5px;
}
