.headerWrapper {
  background-color: var(--color-primary);
  color: white;
  height: 60px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 30px;
  color: white;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-item {
  color: white;

  &:hover {
    color: aqua;
  }
}
