<header class="headerWrapper">
  <div class="headerLeft">
    <app-button (onClick)="clickMenu()">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="menu"
      />
    </app-button>
    <a mat-button [routerLink]="['/']" href="/" class="header-logo">Logo</a>
  </div>
  <ul class="header-menu">
    <a mat-button [routerLink]="['/']" href="/" class="header-item"
      >Home page</a
    >
    <a mat-button [routerLink]="['/login']" href="/" class="header-item"
      >login</a
    >
  </ul>
</header>
